@import "colors.css";

* {
    border: none;
    font-family: "BigBlueTerm437 Nerd Font";
    font-size: 15px;

    min-height: 0;
    margin: 0;
    padding: 2 5 2 5px;
    animation-timing-function: steps(6);
}

#workspaces {
    border-color: @inverse-tertiary;
    border-radius: 20px;
    margin-left: 5px;
    padding-right: 0px;
}

#workspaces button {
    color: @surface_variant;
    margin-right: 5px;
    padding: 0 0 0 0px;
    border-radius: 50px;
}

.modules-right {
    background-color: @surface;
    border-radius: 20px;
    padding: 0 10 0 10px;
    color: @on_surface;
}

.modules-center {
    background-color: @surface;
    border-radius: 20px;
    padding: 0 8 0 8px;
    color: @on_surface;
}

.modules-left {
    background-color: @surface;
    border-radius: 20px;
    padding: 0 8 0 8px;
    color: @on_surface;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: white;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
    color: white;
}

#mode {
    background: #64727d;
    border-bottom: 3px solid white;
}

#battery.charging {
    color: white;
    background-color: #26a65b;
}

#workspaces button.active {
    color: @on_surface;
}

#battery {
    padding: 0 8 0 8px;
}

#pulseaudio {
    padding: 0 3 0 0;
}

#network {
    padding: 0 5 0 0;
}

#clock {
}
